<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizy.zn1backend.mapper.ImageMetaMapper">

    <resultMap id="BaseResultMap" type="com.jizy.zn1backend.model.entity.ImageMeta">
            <id property="id" column="id" />
            <result property="article_id" column="article_id" />
            <result property="file_name" column="file_name" />
            <result property="storage_path" column="storage_path" />
            <result property="upload_time" column="upload_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,file_name,storage_path,upload_time
    </sql>
</mapper>
